@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@800&family=Pattaya&family=Poppins&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow: hidden; */
    background-color: hsl(210, 36%, 96%);
}

main {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.title {
    text-align: center;
}

.title h1 {
    font-family: 'Baloo Bhaina 2', cursive;
    color: rgb(7, 179, 247);
    font-size: 4rem;
    margin-bottom: -35px;
    letter-spacing: 5px;
}

.title .underline {
    width: 40%;
    height: 5px;
    background-color: rgb(7, 179, 247);
    margin: 0 auto;
    border-radius: 5px;
}

/* Review Container */

.review {
    display: grid;
    place-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 3em 1.5em;
    max-width: 500px;
    border-radius: 10px;
}

.img-container {
    box-shadow: 10px 0px 5px rgba(7, 179, 247, 0.8);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.quote {
    position: absolute;
    top: 13%;
    left: -3%;
    font-size: 2rem;
    background-color: rgb(7, 179, 247);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
}

#person-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#author {
    margin: 8px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

#job {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    color: rgb(7, 179, 247);
    font-weight: 700;
}

#info {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1em;
    font-family: 'Poppins', sans-serif;
}

#prev-btn, #next-btn {
    font-size: 1.7rem;
    background-color: transparent;
    border-color: transparent;
    margin: 0em 2em;
    color: rgb(7, 179, 247);
    transition: all 0.3s ease;
}

#prev-btn:hover, #next-btn:hover {
    color: rgb(3, 98, 136);
    cursor: pointer;
    transform: scale(1.1);
}

@media (min-width:300px) and (max-width:820px) {
    body {
        overflow: visible;
    }
    .review {
        margin-top: 1.2em;
    }
    #info {
        margin: 0.5em;
    }
}
